@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

:root {
    --primary-color-: #D5D5D5;
    --width-: 1350px;
    --border-: 1px solid #ccc;
    --white-backgroundColor: hsl(0, 0%, 100%);
    --boxShadow-: #eee;
    --button-color: #f8f8f8;
    --button-border-color: #d3d3d3;
    --wordmark-text: #212121;
    --background-hover: #888;
    --yt-spec-text-primary: #0f0f0f;
}

a {
    color: #000;
}

#header {
    height: 4.5rem;
    background-color: #fff;
    padding: 0 1.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.header-left {
    display: inline-flex;
    align-items: center;
}

.logo {
    width: 9rem;
    height: 2rem;
    padding: 0 1rem;
}


.header-middle {
    display: inline-flex;
    align-items: center;
    flex: 0 1 50rem;
}

.menu-icon>.fa-bars:before {
    padding: 0.8rem;
    cursor: pointer;

}

.search-input {
    width: 60%;
    position: relative;
    align-items: center;
    border: var(--border-);
    border-radius: 40px 0 0 40px;
    padding: 0 0.4rem 0 1.6rem;
    background-color: var(--white-backgroundColor);
    box-shadow: inset 0 1px 2px var(--boxShadow-);
    min-height: 2.5rem;
    outline: none;
    width: 85%;
}


.search {
    display: flex;
    align-items: center;
    flex: 1;
}

.search-button {
    background-color: var(--button-color);
    border-radius: 0 40px 40px 0;
    cursor: pointer;
    min-height: 2.5rem;
    min-width: 3.5rem;
    margin: 0;
    border: 1px solid #d6d6d6;
}

.header-right {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-right>* {
    background-color: transparent;
    border: none;
    outline: none;
    width: 2.5rem;
    height: 2.5rem;
    margin: 0 0.6rem;
}

.header-right>*:hover {
    border-radius: 50%;
    background: var(--background-hover);

}

.voice {
    width: 2.5rem;
    height: 2.5rem;
    background: transparent;
    border: none;
    outline: none;
    border-radius: 50%;
    background: var(--button-border-color);
}

.voice:hover {
    border-radius: 50%;
    background: var(--background-hover);
}

/* BODY */
#body {
    display: flex;

}

.body-aside {
    background-color: transparent;
    flex: 0.18888;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* background: transparent; */
}




.body-content {
    background-color: #fff;
    flex: 0.9;
    height: 100vh;
}

/* ASIDE */
.body-aside {
    padding: 1.2rem;
    display: block;
    background: transparent;
    overflow-y: hidden;
    overflow-x: hidden;
}

.body-aside:hover {
    overflow-y: scroll;
    transition: overflow-y 0.3s ease;
}

.mode>.mode-item:last-child {
    margin-bottom: 1.2rem;
    /* border-bottom: 1px solid var(--primary-color-); */
}

.mode {
    border-bottom: 1px solid var(--primary-color-);
}



.mode>* {
    background: #fff;
    display: flex;
    align-items: center;
    height: 2.6rem;
    -webkit-font-smoothing: antialiased;
    line-height: 2.4rem;
    border-radius: 10px;
    white-space: nowrap;
    width: 14rem;
}


.mode-item {
    padding: 0 12px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.mode>.mode-item i.fa-house {
    font-size: 1.3rem;
    margin-right: 2.4rem;
}

.mode>.mode-item span {
    font-size: 1rem;
    line-height: 2rem;
    width: 13.2rem;
}

.mode>.mode-item:first-child:hover {
    background-color: var(--primary-color-);
}

.mode>.mode-item:hover {
    background-color: #E0E0E0;

}

.mode-2 {
    margin: 1rem 0;
}

.mode-2 .mode-item-first {
    justify-content: unset;
}

.mode-item-first>span:first-child {
    padding-right: 0.8rem;
    font-weight: 500;
    max-height: 2.2rem;
    line-clamp: 1;
    width: 3rem;
}

.mode-item-first>span:last-child {
    width: 1.22rem;
    height: 2rem;
    font-size: 1rem;
}

.mode-3 .mode-head {
    padding: 0 1rem;
    line-height: 2rem;
}

.mode-3 .mode-item>span:first-child {
    width: 5rem !important;
    margin-right: 1rem;
}


.mode-3 .mode-item span>img {
    width: 2rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.categories {
    height: 5.6rem;
    width: 100%;
    background: #fff;
    display: flex;
    align-items: center;
    padding: 0 2.4rem;
}

.categories>*.active {
    background-color: #0f0f0f;
    color: #fff;
}

.category-button {
    padding: 0 12px;
    outline: none;
    border: none;
    height: 2rem;
    border-radius: 10px;
    transition: background-color .5s cubic-bezier(.05, 0, 0, 1);
    margin-right: 1.2rem;
}



/* // Scrollbar CSS */
html *::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
}

html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.15);
}

html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}


.body-content>* {
    padding: 0 2.4rem;
}

/* BODY */


.container {
    display: none;
    animation: moving .5s ease;
}

@keyframes moving {
    from {
        transform: translateX(50px);
        opacity: 0;
    }

    to {
        transform: translateX(0px);
        opacity: 1;
    }
}

.container.active {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-auto-rows: 20rem;
    gap: 2rem;
}



.item {
    background: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.item-image {
    object-fit: cover;
    width: 100%;
    max-height: 100%;
    border-radius: 10px;
    position: relative;
}



.cirle-logo {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    margin-right: 1.5rem;
}

.item-body {
    margin-top: 1rem;
    display: inline-flex;
    width: 100%;
    padding: 0 1.2rem;
}

.item-body-content h3 {
    font-weight: 500;
    font-size: 1.1rem;
    line-height: 1rem;
}

.item-body-content {
    flex: 1;
}

.item-content-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item-content-head button {
    outline: none;
    background: transparent;
    border: none;
}

.time-video {
    position: absolute;
    top: 90%;
    background-color: #060A36;
    color: #fff;
    padding: 3px;
    transform: translateY(-80%);
    right: 1rem;
    z-index: 1000;
}

.block-image {
    position: relative;
}