@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

:root {
    --primary-color-: #D5D5D5;
    --width-: 1350px;
    --border-: 1px solid #ccc;
    --white-backgroundColor: hsl(0, 0%, 100%);
    --boxShadow-: #eee;
    --button-color: #f8f8f8;
    --button-border-color: #d3d3d3;
    --wordmark-text: #212121;
    --background-hover: #888;
    --yt-spec-text-primary: #0f0f0f;
}

a {
    color: #000;
}

#header.active {
    padding: 0 1.3rem;
    z-index: 2;
    transition: 5s eas;
}

#header {
    z-index: 2;
    position: fixed;
    top: 0;
    height: 4.5rem;
    background-color: #fff;
    padding: 0 1.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.wrapper-body {
    margin-top: 6rem;
}
.header-left {
    display: inline-flex;
    align-items: center;
}

.logo {
    width: 9rem;
    height: 2rem;
    padding: 0 1rem;
}


.header-middle {
    display: inline-flex;
    align-items: center;
    flex: 0 1 50rem;
}

.menu-icon>.fa-bars:before {
    padding: 0.8rem;
    cursor: pointer;

}

.search-input {
    width: 60%;
    position: relative;
    align-items: center;
    border: var(--border-);
    border-radius: 40px 0 0 40px;
    padding: 0 0.4rem 0 1.6rem;
    background-color: var(--white-backgroundColor);
    box-shadow: inset 0 1px 2px var(--boxShadow-);
    min-height: 2.5rem;
    outline: none;
    width: 85%;
}


.search {
    display: flex;
    align-items: center;
    flex: 1;
}

.search-button {
    background-color: var(--button-color);
    border-radius: 0 40px 40px 0;
    cursor: pointer;
    min-height: 2.5rem;
    min-width: 3.5rem;
    margin: 0;
    border: 1px solid #d6d6d6;
}

.header-right {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-right>* {
    background-color: transparent;
    border: none;
    outline: none;
    width: 2.5rem;
    height: 2.5rem;
    margin: 0 0.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-right>*:hover {
    border-radius: 50%;
    background: var(--background-hover);

}

.voice {
    width: 2.5rem;
    height: 2.5rem;
    background: transparent;
    border: none;
    outline: none;
    border-radius: 50%;
    background: var(--button-border-color);
}

.voice:hover {
    border-radius: 50%;
    background: var(--background-hover);
}

/* BODY */
#body {
    display: flex;
    /* background-color: seagreen; */

}

.body-content {
    /* background-color: saddlebrown; */
    /* flex: 0.9; */
    height: 100vh;
}

/* ASIDE */
.sidebar {
    margin-top: 5rem;
    position: fixed;
    /* top: 0; */
    left: 0;
    width: 6rem;
    min-height: 100vh;
    /* background: purple; */
    padding: 0px 14px;
    transition: .5s;

}


.sidebar.active {
    width: 257px;
   
    min-height: 100vh;
}

.sidebar.active:hover{
    overflow-y: auto;
}
.sidebar.active .list-item a{
    height: 40px;
}

.sidebar.active .list-item a:hover{
    background-color: #F2F2F2;
}
.sidebar *::-webkit-scrollbar {
    border-radius: 0;
    width: 6px;
}

.sidebar *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.15);
}

.sidebar *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}




.sidebar .logo-menu {
    display: flex;
    align-items: center;
    width: 100%;
    height: 70px;
}

.sidebar .logo-menu .logo {
    pointer-events: none;
}

.sidebar.active .logo-menu .logo {
    opacity: 1;
    transition-delay: .2s;
}

.sidebar .list {
    margin-top: 10px;
    width: 100%;
    height: 50px;
    margin: 5px 0;
    line-height: 50px;
}

.sidebar ul>li {
    list-style: none;
    margin-bottom: 1rem;
}

.sidebar.active ul>li {
    margin-bottom: 0;
}

.sidebar .list.active .list-item {
    list-style: none;
    width: 100%;
    height: 50px;
    margin-bottom: 1rem;
    line-height: 50px;
}

.sidebar .list.active>.list-item {
    margin-bottom: 1.5rem;
}

/* 
.list .list-item.active a {
    background: rgba(255, 255, 255, .2);
} */

.list .list-item a {
    font-size: 18px;
    align-items: center;
    color: black;
    text-decoration: none;
    border-radius: 6px;
    text-align: center;
    white-space: nowrap;
}

/* .list .list-item a,
.list .list-item a:hover{
    background: rgba(255, 255, 255, .2);
} */


.sidebar.active .list .list-item a i {
    min-width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
}

.sidebar #toggle-btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

#toggle-btn {
    cursor: pointer;
}

.sidebar.active .link-name {
    opacity: 1;
    pointer-events: auto;
    transition-delay: calc(.1s * var(--i));
}

.sidebar.active .list-item:nth-child(4) a .arrow-icon {
    margin-left: 1rem;
}


.sidebar.active .list-item a .cirle-logo{
    width: 30px;
    height: 30px;
    margin-right: 1rem;
}

.sidebar .list .list-item .link-name {

    height: 26px;
    display: flex;
    align-items: center;

}

.sidebar a {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.sidebar .link-name {
    font-size: 14px;
}

.sidebar .list-item.active a {
    justify-content: center;
}

.sidebar .list .list-item a {
    margin: 0.3rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sidebar.active .list .list-item a {
    justify-content: unset;
    flex-direction: row;
    padding: 0 calc(0.875rem);

}

.sidebar.active .list .list-item a .guide-icon{
    margin-right: 1.5rem;
    
}

.sidebar .list .list-item a i {
    height: 25px;
}

#nav-side {
    z-index: 3;
    position: fixed;
    height: 100%;
    background: #fff;
    width: 160px;
    left: -250px;
    transition: left 0.3s ease-in-out;
}
#nav-side .header-left{
    height: 7%;
}
#nav-side>* {
    margin-bottom: 1rem;
    background: #fff;
}

#nav-side .mode>.mode-item i.fa-house {
    font-size: 1.2rem;
    margin-right: 1.5rem;
}

#nav-side .header-left {
    width: 100%;
    justify-content: center;
}

#nav-side .mode-item {
    flex-wrap: nowrap;
    margin: 0;
    width: unset;
    padding: 0 0.8rem;
}

#nav-side {
    /* left: -250px;
    transition: left 0.3s ease-in-out; */
}

#nav-side.positive {
    left: 0;
    z-index: 3;
}

#nav-side .mode>* {
    background: unset;
}

/* * */
.body-content.active {
    margin-left: 16.1rem;
}

.body-content {

    margin-left: 6rem;
}





.categories {
    background: #fff;
    height: 4rem;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 2.4rem;
    position: fixed;
    z-index: 2;
    top: 4rem;
}

.categories>*.active {
    background-color: #0f0f0f;
    color: #fff;
}

.category-button {
    padding: 0 12px;
    outline: none;
    border: none;
    height: 2rem;
    border-radius: 10px;
    font-size: 14px;
    transition: background-color .5s cubic-bezier(.05, 0, 0, 1);
    margin-right: 1.2rem;
    font-weight: 500;
}



/* // Scrollbar CSS */
html *::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
}

html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.15);
}

html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}


.body-content>* {
    padding: 0 1rem;
}

/* BODY */



.container {
    animation: moving .5s ease;
    margin-top: 10rem;
}

.container.active {
    display: block;
}

@keyframes moving {
    from {
        transform: translateX(50px);
        opacity: 0;
    }

    to {
        transform: translateX(0px);
        opacity: 1;
    }
}


.container {
    margin-top: 17%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 36%;
}

.container.active {
    margin-top: 8.5rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: calc(20.625rem);
    gap: 0.7rem;
}

.item {
    background: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container.active .item a {
    height: 100%;
}

.item-image {
    object-fit: cover;
    width: 100%;
    max-height: 100%;
    border-radius: 10px;
    position: relative;
}



.cirle-logo {
    width: 2.25rem;
    height: 2.25rem;
    border-radius: 50%;
    margin-right: 0.45rem;
}

.item-body {
    margin-top: 0.5rem;
    display: inline-flex;
    width: 100%;
}

.item-body-content h3 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    font-weight: 500;
    font-size: 0.9rem;
}

.item-body-content {
    flex: 1;
}

.item-content-head {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.item-content-head button {
    outline: none;
    background: transparent;
    border: none;
}

.time-video {
    position: absolute;
    top: 90%;
    background-color: #060A36;
    color: #fff;
    padding: 3px;
    transform: translateY(-80%);
    right: 1rem;
    font-size: 0.75rem;
    z-index: 1;
}

.block-image {
    position: relative;
}
.container {
    display: none;
}

.icon-youtube{
    width: 30px;
}


.information{
    display: block;
    line-height: 25px;
    padding: 0 10px;
}



.information, .infor-head > span{
    font-size: 13px;
}

.infor-head > span{
    margin-right: 0.3rem;
}

.sidebar.active .old {
    border-bottom: 1px solid #EEEEEE;
}

.container.positive{
    grid-template-columns: repeat(3, 1fr) !important;
    grid-template-rows: calc(22.75rem) !important;
}


.sidebar.active .link-name{
    font-size: 14px;
}

.sidebar .link-name{
    font-size: 10px;
}

.item-body-content > *{
    line-height: 1.3rem;
}

.item-body-content > p {
    font-size: 0.875rem;
   display: -webkit-box;
   -webkit-box-orient: vertical;
   overflow: hidden;   
   -webkit-line-clamp: 1;
   text-overflow: ellipsis;
   white-space: normal;
}

.sidebar .list-item{
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sidebar.active .list-item{
    height: 100%;
    display: block !important;
}

.sidebar.active .list-item:hover{
    display: unset;
}
.sidebar .list-item:hover{
    background-color: #F2F2F2;
    cursor: pointer;
    border-radius: 10px;
}

